*{
    outline: 2px, solid, yellow;
}

body {
    background: rgb(99, 80, 99);
    color: #eee;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    margin: 5px;
    font-size: 30px;
}

.score {
    display: flex;
    justify-content: center;
}

.score-text {
    margin: 5px;
    font-size: 25px;
}

#msg {
    font-size: 20px;
}