body {
    background-image: url("./images/paper-5985445_1920.jpg");
    background-size: cover;
    background-color: rgb(221, 125, 104);
    color: #eee;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
}

h1{
    font-size: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    height: 200px;
    margin: 5px;
    font-size: 30px;
}

#rock {
    background-image: url("./images/rocks-576653_640.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#paper {
    background-image: url("./images/certificate-154169_640.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#scissors {
    background-image: url("./images/school-1555907_640.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.score {
    display: flex;
    justify-content: center;
}

.score-text {
    margin: 20px;
    font-size: 25px;
}

.count {
    margin-bottom: 20px;
    font-size: 25px;
}

#msg {
    font-size: 32px;
}

#msg .button {
    margin-top: 30px;
}

footer {
    flex: 0 0 auto;
}