html {
    height: 100%;
}

body {
    background-image: url("../images/paper-5985445_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(138, 138, 138);
    color: #fff;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Purisa", cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
    flex: 0 0 auto;
}

h1{
    font-size: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    font-family: "Purisa", cursive;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(233, 233, 233, 0.973);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.button {
    height: 200px;
}

.replay-button {
    height: auto;
}

#rock {
    background-image: url("../images/rocks-576653_640.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#paper {
    background-image: url("../images/certificate-154169_640.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#scissors {
    background-image: url("../images/school-1555907_640.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.score {
    display: flex;
    justify-content: center;
}

.score-text {
    margin: 20px;
    font-size: 25px;
}

.count {
    margin-bottom: 20px;
    font-size: 25px;
}

#msg {
    font-size: 32px;
}

#msg .button {
    margin-top: 30px;
}

footer {
    flex: 0 0 auto;
    font-weight: bold;
}

footer a {
    color: #ebe5dc;
}

footer a:hover {
    text-decoration: none;
}